.cx_aba{
    border:1px solid black;
    border-top: none;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    
    
}
.prim{
   width: 85px;
   background-color: #a9c8d6de;
   font-size: 0.8em;
   text-align: center;
   border-bottom-left-radius: 15px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-left: 10px;
   color:#043e72 ;
   font-weight:600;
}
.ultima{
    width: 85px;
    background-color: #a9c8d6de;
    ;
    text-align: center;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#043e72 ;
    font-weight:600;
}
.intern{
    width: 85px;
    font-size: 0.8em;
    text-align: center;
    background-color: #a9c8d6de;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#043e72 ;
   font-weight:600;
}
.intern:hover, .prim:hover, .ultima:hover {
    
    
    font-weight: bolder;
    cursor: pointer;
    
}
.intern:hover, .prim:hover, .ultima:hover {
    
    background-color: #a9c8d6fe;
}
